<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.FirebirdDialect</property>
    <property name="hibernate.connection.driver_class">org.firebirdsql.jdbc.FBDriver</property>
    <property name="hibernate.connection.url">jdbc:firebirdsql://localhost/d:/LOCADORA.fdb</property>
    <property name="hibernate.connection.username">SYSDBA</property>
    <property name="hibernate.connection.password">masterkey</property>
    <mapping resource="PacotePrincipal/Aluguel.hbm.xml"/>
    <mapping resource="PacotePrincipal/Funcionario.hbm.xml"/>
    <mapping resource="PacotePrincipal/Compra.hbm.xml"/>
    <mapping resource="PacotePrincipal/Promocao.hbm.xml"/>
    <mapping resource="PacotePrincipal/Veiculo.hbm.xml"/>
    <mapping resource="PacotePrincipal/Cliente.hbm.xml"/>
    <mapping resource="PacotePrincipal/Manutencao.hbm.xml"/>
    <mapping resource="PacotePrincipal/Promocaoveiculo.hbm.xml"/>
    <mapping resource="PacotePrincipal/Taxa.hbm.xml"/>
    <mapping resource="PacotePrincipal/Fornecedor.hbm.xml"/>
    <mapping resource="PacotePrincipal/Endereco.hbm.xml"/>
    <mapping resource="PacotePrincipal/Tipoveiculo.hbm.xml"/>
    <mapping resource="PacotePrincipal/Setor.hbm.xml"/>
    <mapping resource="PacotePrincipal/Venda.hbm.xml"/>
    <mapping resource="PacotePrincipal/Taxaaluguel.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
